<p><strong>Server Name: </strong>{{server.name}}</p>
<p><strong>Status : </strong>{{server.status}}</p>
<button class="btn btn-outline-primary" (click)="editServer()">Edit</button>

<hr>

<section class="bg-danger vh-100 display3 text-white" id="sec1">Section 01</section>
<section class="bg-success vh-100 display3 text-white" id="sec2">Section 02</section>
<section class="bg-warning vh-100 display3 text-white" id="sec3">Section 03</section>
<section class="bg-primary vh-100 display3 text-white" id="sec4">Section 04</section>
<section class="bg-secondary vh-100 display3 text-white" id="sec5">Section 05</section>
